---
Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  google-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-braces-around-statements,
  -readability-isolate-declaration,
  -google-readability-braces-around-statements,
  -google-readability-todo,
  -portability-avoid-pragma-once,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -bugprone-multi-level-implicit-pointer-conversion,
  -misc-no-recursion,
  -misc-include-cleaner

WarningsAsErrors: '*'

HeaderFilterRegex: '^.*/include/apg/.*\.h$|^.*/include/util\.h$|^.*/src/.*\.h$'

CheckOptions:
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.LocalVariableCase
    value: lower_case
  - key: readability-identifier-naming.MemberCase
    value: lower_case
  - key: readability-identifier-naming.StructCase
    value: lower_case
  - key: readability-identifier-naming.TypedefCase
    value: lower_case
  - key: readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
